---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
   const allSpecies = await getCollection("species")

   const categories = Array.from(new Set(allSpecies.map((s) => s.data.category)))

   return categories.map((category) => ({
      params: { category },
      props: { species: allSpecies.filter((s) => s.data.category === category) },
   }))
}

const { category } = Astro.params
const { species } = Astro.props
---

<BaseLayout pageTitle={category}>
   <p>Category: {category}</p>
   <ul>
      {
         species.map((s) => (
            <li>
               <a href={`/fieldguides/${s.slug}`}>{s.data.commonName}</a>
            </li>
         ))
      }
   </ul>
</BaseLayout>
