---
import { Image } from "astro:assets"
import maveImage from "../assets/images/mave.png"
import BaseLayout from "../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
import CategoryButtons from "../components/CategoryButtons.astro"

const allSpecies = await getCollection("species")

const pageTitle = "David's Field Guide"
---

<BaseLayout pageTitle={pageTitle}>
   <h1 class="text-5xl text-center">{pageTitle}</h1>
   <p class="my-5 text-lg text-center">
      Welcome to my field guide! Here you'll find information on all the species I've encountered in
      the wild.
   </p>
   <Image src={maveImage} alt={pageTitle} width="400" class="mx-auto" />
   <p class="text-md text-center text-gray-600 mb-8">David in his natural habitat</p>
   <CategoryButtons />
</BaseLayout>
